@import "variables";

.table-header {
  padding: 0 1rem;
  background: #fff;

  .table-header__container {
    display: flex;
    color: $color1;
    font-style: italic;
    padding: 2rem 0;
    background: #fff;
    border-bottom: 1px solid $color2;

    div {
      width: 15%;
      text-align: center;

      b {
        cursor: pointer;

        span {
          font-size: 14px;
        }
      }

      &:first-child {
        width: 55%;
        text-align: left;
      }
    }
  }

}