@import "variables";

.table-row {
  padding: 0 1rem;
  background: #fff;

  .table-row__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $color3;
    height: 100px;
    font-size: 16px;
    background: #fff;
    border-bottom: 1px solid $color2;
    cursor: pointer;

    .disable {
      background: rgb(153, 153, 153);
      color: white;
      padding: 0.2rem 1.1rem;
      border-radius: 15px;
    }

    .enable {
      background: $color1;
      color: white;
      padding: 0.2rem 1.5rem;
      border-radius: 15px;
    }


    .orange {
      color: orange;
    }

    div {
      width: 15%;
      text-align: center;
      padding-right: 10px;

      &:first-child {
        width: 55%;
        text-align: left;
      }
    }
  }

  &:hover {
    box-shadow: 0 0 10px $color3;
    position: relative;
  }
}

.task-item:last-child {
  .task-item__container {
    border-bottom: none;
  }
}