@import "variables";
@import "tableHeader";
@import "search";
@import "tableRow";

.App {
  width: 1000px;
  margin: 100px auto;
  font-family: Arial;
  padding: 1rem;
  background: #fafafa;
}

.data-empty {
  padding: 1rem;
  text-align: right;
}

